<% var pageType = getPageType() %>

<!DOCTYPE html>
<html>
  <head>

    <%- partial('_partial/doc_head') %>

  </head>
  <body>
  
    <%- partial('_partial/nav-header', null, {cache: !config.relative_link}) %>
   
    <% if(pageType == 'blog' || pageType == 'archives' || pageType == 'categories' || pageType == 'tags' || pageType == 'blogPost' ) {%>
      
      <%# -- LAYOUT FOR BLOG -- #%>
      <%- partial('blog') %>

    <% } else { %>

      <%# -- LAYOUT FOR HOME OR PAGE-- #%>
      <%- body %>

    <% } %>

    
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>

    <%- partial('_partial/doc_footer') %>

  </body>
</html>