<div id="container">
        
    <div id="wrap">
                
        <%- partial('_partial/header', null, {cache: !config.relative_link}) %>


        <% if(page.pageType2 == 'about'){ %>

            <div class="outer">
                    
                <div class="article-inner" style=" margin: 50px 0px; padding: 20px; background:#eee">
                    <%- page.content%>
                </div>

                <div class="article-inner" style=" margin: 50px 0px; padding: 20px; background:#eee">
                     
                    <h3>FAQ</h3><br>

                    <%
                        var faq = [];
                        site.pages.forEach(function(item){
                            if(item.section == 'faq'){
                                faq.push(item);
                            }
                        });
                        faq.sort(function(a, b){
                            return a.order > b.order
                        });
                    %>
                    
                    <% for (i = 0; i < faq.length; i++) {  var item=faq[i]; %>
                        Q: <%- item.question %><br>
                        A: <%- strip_html(item.content) %><br>
                        <hr>
                   <% }; %>


                </div>
                    
            </div>

        <% } else if(page.pageType2 == 'news'){ %>

            <div class="outer">
                    
                <div class="article-inner" style=" margin: 50px 0px; padding: 20px; background:#eee">
                    
                    <%- page.content%>
                    <br>
                    <hr>
                    <br>
                    
                    <% site.pages.sort('date', -1).each(function(page){ %>
                        
                        <%if(page.section == 'news'){ %>
                            
                            <a href="<%- url_for(page.path) %>">
                                <img src="<%- page.thumbnail %>" width="300" style="display: block;"><br>
                                <%- trim(page.headline) %>
                            </a><br><br>
                
                        <%}%>
                        
                    <% }) %>


                </div>
                    
            </div>

        <% } else if(page.section== 'news'){ %>

            <div class="outer" style="width: 100%; margin: 0px;">
                    
                <div class="article-inner" style=" margin: 50px 0px; padding: 20px; background:#eee">
                    <%- page.headline%><br>
                    <br>

                    <%- page.content%> 
                </div>
                    
            </div>
        
        <% } else if(page.pageType2 == 'contact'){ %>

            <div class="outer" style="width: 100%; margin: 0px;">
                    
                <div class="article-inner" style=" margin: 50px 0px; padding: 20px; background:#eee">
                    
                    <%- page.content%>
                    <br>

                    <form name="contact" netlify-honeypot="bot-field" action="contact-thank-you" netlify>
                        <p style="display:none">
                            <label><input name="bot-field"></label>
                        </p>
                        <p>
                            <label>Your Name<br> <input type="text" name="name"></label>   
                        </p>
                        <br>
                        <p>
                            <label>Your Email<br> <input type="email" name="email"></label>
                        </p>
                        <br>
                        <p>
                            <label>Message<br> <textarea name="message"></textarea></label>
                        </p>
                        <br>
                        <p>
                            <button style="padding: 5px;" type="submit">Send</button>
                        </p>
                        <br>
                    </form>

                </div>
                    
            </div>
        <% } else if(page.pageType2 == 'contact-thank-you'){ %>

            <div class="outer" style="width: 100%; margin: 0px;">
                    
                <div class="article-inner" style=" margin: 50px 0px; padding: 20px; background:#eee">
                    <%- page.headline%><br>
                    <br>
                    <%- page.content%> 
                </div>
                    
            </div>

        <% } else { %>

            <div class="outer" style="width: 100%; margin: 0px;">
            
                <div class="article-inner" style=" margin: 50px 0px; padding: 20px; background:#eee">
                    <%- page.content%> 
                </div>
            
            </div>

        <% } %>
    
    </div>
    
    
</div>