<% var pageType = getPageType() %>

<header id="header">
  
  <div id="banner"></div>
  
  <div id="header-outer" class="outer">
  
    <div id="header-title" class="inner">
  
      <h1 id="logo-wrap">
        <a href="<%- url_for(config.index_generator.path) %>" id="logo">

          <% if(pageType == 'home'){ %>
            
            <%= config.title %>

          <% } else if(page.pageType2 == 'about'){ %>
            
            About Us
          
          <% } else if(page.pageType2 == 'news' || page.section == 'news'){ %>
          
            News
          
          <% } else if(page.pageType2 == 'contact' || page.pageType2 == 'contact-thank-you'){ %>
          
            Contact Us
          
          <% } else if(pageType == 'blog'){ %>
          
            Blog
          
          <% } else if(pageType == 'archives'){ %>
            
            <% 
              var pathArr= page.path
              pathArr = pathArr.split("/")
            %>
            <% if(pathArr[1] =="index.html"){ %>
              Archives
            <% } else { %>
              Archives: <%- pathArr[1] %>
            <% } %>

          <% } else if(pageType == 'blogPost'){ %>
          
            Post
          
          <% } else if(pageType == 'categories'){ %>
          
            Categories: <%- page.category %>
          
          <% } else if(pageType == 'tags'){ %>
          
            Tag: <%- page.tag %>
          
          <% } %>
          
        </a>
      </h1>
  
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for(config.index_generator.path) %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
  
        <% } %>
  
    </div>

  </div>

</header>